* {
    margin: 0;
    box-sizing: border-box;
}


.purple__wrapper {
    width: 728px;
    height: 120px;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    overflow: hidden;
    /* background-color: antiquewhite; */
    /* background-image: url(./images/728x120.png); */
}

/* Slide_1 */
.slide_1 {
    height: 100%;
    width: 100%;
}

.slide_1 .element_1 {
    height: 100%;
    width: 100%;
}

.slide_1 .element_2 {
    height: 100%;
    width: 100%;
}

.slide_1 .element_3 {
    height: 100%;
    width: 100%;
}

.slide_1 .element_4 {
    height: 100%;
    width: 100%;
}

.slide_1 .element_5 {
    height: 100%;
    width: 100%;
}

.slide_1 .element_6 {
    height: 100%;
    width: 100%;
}

.purple_generic_close {
    top: 0px;
    right: 0px;
    height: 22px;
    width: 22px;
    background: url("./Generic/close.svg") no-repeat;
    background-size: 100% 100%;
    position: absolute;
    cursor: pointer;
    margin: 0 !important;
    z-index: 1;
}

.purple_generic_icon {
    position: absolute;
    top: 33px;
    right: 0px;
    background: url('./Generic/info.svg') no-repeat;
    background-size: 100% 100%;
    width: 22px;
    height: 22px;
    cursor: pointer;
    margin: 0 !important;
    z-index: 1;
}

/* Utility class */
.absolute {
    position: absolute;
}

.hidden {
    display: none;
}

.zeroOpacity {
    opacity: 0;
}


.topBottom-anim {
    animation: topBottom 2s ease-in-out infinite;
}

@keyframes topBottom {

    0%,
    100% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(5px);
    }
}

.topBottom2-anim {
    animation: topBottom2 2s ease-in-out infinite;
}

@keyframes topBottom2 {

    0%,
    100% {
        transform: translateY(-4px);
    }

    50% {
        transform: translateY(3px);
    }
}

.orderNow-anim {
    animation: orderNow 2s ease-in-out infinite;
}

@keyframes orderNow {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.04);
    }
}


.hideZoomOut {
    animation-name: hideZoomOut;
    animation-duration: .5s;
    animation-fill-mode: both;
    animation-iteration-count: 1
}
@keyframes hideZoomOut {
    100% {
        opacity: 0;
        transform: scale3d(.3, .3, .3)
    }
}